@import url("./sn_componentes/sn_carrucel.css");
@import url("./sn_componentes/sn_nav.css");
@import url("./sn_componentes/sn_propiedades.css");
@import url("./sn_componentes/sn_contacto.css");
@import url("./sn_colores.css");

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-beige);
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 20px;
    margin: 10px;
}

.propiedades{
    color: var(--color-marron-oscuro);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--color-marron);
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*-----------------------------------------------------*/

 