.propiedades-destacadas {
    position: relative;
    width: 500px; 
    margin: auto; 
    overflow: hidden; 
}

.carrusel {
    display: flex; 
    transition: transform 0.5s ease; 
}

.carrusel div {
    min-width: 100%; 
    height: 300px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.carrusel img {
    width: 100%; 
    height: 100%; 
    object-fit: fill; 
}